@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/josefin-sans-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/fonts/josefin-sans-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/josefin-sans-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/josefin-sans-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/josefin-sans-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/josefin-sans-v20-latin-regular.svg#JosefinSans') format('svg'); /* Legacy iOS */
  }
  /* josefin-sans-700 - latin */
  @font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/josefin-sans-v20-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/fonts/josefin-sans-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/josefin-sans-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/josefin-sans-v20-latin-700.woff') format('woff'), /* Modern Browsers */
         url('/fonts/josefin-sans-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/josefin-sans-v20-latin-700.svg#JosefinSans') format('svg'); /* Legacy iOS */
  }
  :root {
    font-size: 18px;
  }
}
:root {
  --bright-blue: #3a7bfd;
  --check-from: #57ddff;
  --check-to: #c058f3;
}

@layer utilities {
  @variants resonsive {
    .switch-theme-size {
      width: 26px;
      height: 26px;
    }
    .switch-theme-size-mobile {
      width: 20px;
      height: 20px;
    }
  }
}


